{
  "env": {
    "browser": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "google": false,
    "touristinfo": true
  },
  "parser": "babel-eslint",
  "root": true
}
